* {
    padding: 0;
    margin: 0;
    font-family: 'poppins';
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #f5df4e;
    z-index: 10000;
    transition: 0.5s ease;
}
header .imgBx{
    position: relative;
    height: 50px;
    width: 180px;
}
header .imgBx img{
    height: 100%;
    width: 100%;
}
header .menu{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background: #000;
    display: none;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
header .menu .menu-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header .menu .menu-list a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
header .menu .menu-list a.active{
    color: #f5df4e;
}
header .menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}
header .menu ul a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
header.scrolled {
    background-color: #fff;
}
/* ////////////////// */

header.active .menuToggle::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(-10px);
    transition: 0.5s;
    /* box-shadow: 0 10px #fff; */
}
header.active .menu{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background: #000000f0;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
header.active .menu .menu-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header.active .menu .menu-list a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
header.active .menu .menu-list a:hover{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #f5df4e;
}
header.active .menu .menu-list a.active{
    color: #f5df4e;
}
header.active .menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}
header.active .menu ul a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
.side {
    /* background: red; */
    position: relative;
    display: flex;
    gap: 5px;

}

.side.scrolled {
    color: #fff;
}

.side a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.side .menuToggle {
    position: relative;
    width: 30px;
    height: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    /* padding-top: 20px; */
}

.menuToggle::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #222;
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 0 10px #222;
}
.menuToggle::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #222;
    transform: translateY(10px);
    transition: 0.5s;
}

header.active .menuToggle::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(10px);
    transition: 0.5s;
}
header.active .menuToggle::before{
    transform: translateY(0px) rotate(45deg);
     box-shadow: none
}
header.active .menuToggle::after{
    transform: translateY(0px) rotate(-45deg);
}
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5df4e;
    width: 100%;
    /* min-height: 90vh; */
    position: relative;
    padding: 0px 50px;
}

.home .content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;

    /* background: red; */

}

.home .btn {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.home .btn button {
    background-color: #222;
    color: #fff;
    height: 50px;
    border: none;
    font-size: 20px;
    padding: 10px 10px;
}

.home .content h1 {
    font-size: 40px;
    font-weight: 300;
}

.home .content h2 {
    font-size: 80px;
    font-weight: 600;
}

.home .content h3 {
    font-weight: 300;
    font-size: 20px;
}


.home .imgBx {
    position: relative;
    width: 400px;
    height: 400px;
    border: 15px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.home .imgBx img {
    width: 100%;
    height: 100%;
}

.about {
    /* min-height: 90vh; */
    background: #fff;
    position: relative;

}
.about .ab-h3 {
    width: 100px;
    font-size: 15px;
    font-weight: 500;
    background: #f5df4e;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.about .ab-h1 {
    font-size: 30px;
    font-weight: 500;
}

.about .about-main {
    width: 100%;
    position: relative;
    display: flex;
    padding: 50px;
}

.about-main .left {
    width: 70%;
}

.about-main .left h2 {
    font-size: 30px;
    font-weight: 400;
}

.about-main .left h2 span {
    font-weight: 700;
}

.about-main .left p {
    font-size: 24px;
    font-weight: 300;
}

.about-main .right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about .right .circle {
    background: #f5df4e;
    position: relative;
    height: 120px;
    width: 120px;
    border: 1px solid #f5df4e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .right .circle span {
    position: absolute;
    font-size: 150px;
    color: #4c4d4d;

}
.about-heading{
    text-align: center;
    margin-top: 50px;
}
.aboutMe {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.aboutMe p {
    font-size: 18px;
    color: #736868fe;
}

.aboutMe h5 {
    font-size: 20px;
}

.what-to-do{
    position: relative;
    background: #F8F9FA;
    /* min-height: 90vh; */
    padding: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.wtd-heading{
    position: relative;
    text-align: center;
}
.wtd-heading span{
    font-size: 15px;
    font-weight: 500;
    background: #f5df4e;
    padding: 5px 10px;
}
.wtd-heading h1{
    font-size: 30px;
    font-weight: 600;
}

.container{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 20px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.container .container-box{
    /* height: 280px; */
    /* width: 350px; */
    text-align: center;
    justify-content: center;
    
}
.container-box a{
    color: #f5df4e;
    font-size: 50px;
}
.container-box h2{
    font-weight: 500;
    font-size: 30px;
}
.resume{
    position: relative;
    background: #fff;
    padding: 50px;
    width: 100%;
}
.resume-heading{
    text-align: center;
}
.resume-heading span{
    font-size: 15px;
    font-weight: 500;
    background: #f5df4e;
    padding: 5px 10px;
}
.resume-heading h1{
    font-size: 40px;
    font-weight: 600;
}
.resume .main{
    position: relative;
    width: 100%;
    padding: 50px 20px;
    display: flex;
}
.main .my-edu{
    width: 50%;
    margin-right: 20px;
}
.main .my-edu h1{
    font-size: 30px;
    font-weight: 500;
}
.main .my-edu .my-edu-box{
    border: 2px solid #f5df4e;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 0px 10px;
    width: 100%;
}
.main .my-edu .my-edu-box h2{
    font-weight: 500;
    margin-bottom: 10px;
}
.main .my-edu .my-edu-box h3{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}
.main .my-edu .my-edu-box p{
    font-weight: 300;
    color: #888;
}
.main .my-edu .my-edu-box hr{
    opacity: 0.5;
}
.main .my-exp{
    width: 50%;
}
.main .my-exp h1{
    font-size: 30px;
    font-weight: 500;
}
.main .my-exp .my-exp-box{
    border: 2px solid #f5df4e;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 0px 10px;
}
.main .my-exp .my-exp-box h2{
    font-weight: 500;
    margin-bottom: 10px;
}
.main .my-exp .my-exp-box h3{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}
.main .my-exp .my-exp-box p{
    font-weight: 300;
    color: #888;
}
.main .my-exp .my-exp-box hr{
    opacity: 0.5;
}
.skills{
    background: #fff;
    min-height: 90vh;
    padding: 0px 60px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.skills h1{
    font-size: 30px;
    font-weight: 500;
}
.skills .skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    column-gap: 50px;
}
.skills .skill-main .skill-box{
    height: 70px;
    width: 100%;
    position: relative;
    margin-top: 20px;
}
.skills .skill-main .skill-box h3{
    font-size: 18px;
    font-weight: 400;
}
.skills .skill-main .skill-box span{
    float: right;
}
.skills .skill-main .skill-box .progress-1{
    width: 100%;
    background-color: #e9ecef;
    height: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
}
.skills .skill-main .skill-box .progress-1 .progress-info{
    height: 100%;
    width: 65%;
    background: #f5df4e;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.skills .skill-main .skill-box .progress-2{
    width: 100%;
    background-color: #e9ecef;
    height: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
}
.skills .skill-main .skill-box .progress-2 .progress-info{
    height: 100%;
    width: 70%;
    background: #f5df4e;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.skills .skill-main .skill-box .progress-3{
    width: 100%;
    background-color: #e9ecef;
    height: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
}
.skills .skill-main .skill-box .progress-3 .progress-info{
    height: 100%;
    width: 95%;
    background: #f5df4e;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.skills .skill-main .skill-box .progress-4{
    width: 100%;
    background-color: #e9ecef;
    height: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
}
.skills .skill-main .skill-box .progress-4 .progress-info{
    height: 100%;
    width: 60%;
    background: #f5df4e;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.skills .skill-main .skill-box .progress-5{
    width: 100%;
    background-color: #e9ecef;
    height: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
}
.skills .skill-main .skill-box .progress-5 .progress-info{
    height: 100%;
    width: 80%;
    background: #f5df4e;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.skills .skill-main .skill-box .progress-6{
    width: 100%;
    background-color: #e9ecef;
    height: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
}
.skills .skill-main .skill-box .progress-6 .progress-info{
    height: 100%;
    width: 99%;
    background: #f5df4e;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.skills .download-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills .download-btn button{
    width: 200px;
    height: 50px;
    border: 2px solid black;
    background: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 50px;
    
}
.skills button:hover{
    background-color: #222;
    color: #fff;
    cursor: pointer;
    transition: .5s ease;
}
.portfolio{
    position: relative;
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8F9FA;
    padding: 50px;
}
.pfolio-heading{
    position: relative;
    text-align: center;
}
.pfolio-heading span{
    background-color: #f5df4e;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
}
.pfolio-heading h1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
}
.portfolio .ul-box{
    position: relative;
}
.portfolio .ul-box ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.portfolio .ul-box ul li{
    color: rgba(0, 0, 0, 0.4);;
    font-size: 15px;
    font-weight: 600;
    margin: 0 20px;
}
.portfolio .ul-box ul li a{
    text-decoration: none;
}
.portfolio .ul-box ul li a.active{
    color: #222;
}
.portfolio .img-container{
    width: 100%;
    display: grid;
    /* background: #f5df4e; */
    position: relative;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    row-gap: 20px;
    column-gap: 20px;
    /* height: 90vh; */
}
.portfolio .img-container .imgbox{
    /* background: red; */
    position: relative;
    height: 380px;
    width: 100%;
}
.portfolio .img-container .imgbox:hover{
    cursor: pointer;
}
.portfolio .img-container .imgbox img{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.portfolio .img-container .imgbox:hover img{
    filter: blur(2px);
    transition: 1s ease;
}
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero .img-mask{
    height: 80vh;
    position: absolute;
    width: 100%;
    background: black;
    z-index: -1;
    opacity: 0.7;
}
.hero::before{
    content: '';
    position: absolute;
    background: url(intro-bg-2.jpg) no-repeat center center/cover fixed;
    height: 80vh;
    width: 100%;
    z-index: -1;
    /* opacity: 0.5; */
}
.hero h4{
    font-size: 50px;
    color: #fff;
}
.hero button{
    height: 50px;
    width: 150px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 600;
    background: #f5df4e;
    color: #222;
    border: none;
}
.questioniare{
    display: flex; 
    justify-content: space-evenly;
    padding: 50px;
    position: relative;
} 
.questioniare .faq{
    position: relative;
    width: 50%;
    /* background: #f5df4e; */
}
.questioniare .img-box{
    position: relative;
    width: 50%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.questioniare .img-box img{
    height: 450px;
    /* width: 500px; */
}
.questioniare .question-heading{
    position: relative;
}
.questioniare .question-heading span{
    background-color: #f5df4e;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 400;
}
.questioniare .question-heading h1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
}
.questioniare .faq-box{
    /* background: #222; */
    height: 100%;
    width: 100%;
    position: relative;
}
.questions-container{
    max-width: 800px;
    margin: 0 auto;
}

.question{
    border-bottom: 1px solid #222;
}
.question button{
    width: 100%;
    background-color: #fff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
    cursor: pointer;
}
.question button .icon{
    color:rgba(0, 0, 0, 0.4); 
    margin-top: 5px;
    margin-right: 5px;
}
.question p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.icon{
    transition: transform 0.5s ease-in ;
    color: #fff;
}
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .icon.rotate{
    transform:rotate(180deg);
}
.contact{
    position: relative;
    background: #f5df4e;
}
.contact .container2{
    width: 100%;
    position: relative;
    background: #f5df4e;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.contact .container2 .get-in-touch{
    width: 50%;
    padding: 50px;
}
.contact .container2 .get-in-touch .head1{
    font-size: 40px;
    font-weight: 500;
}
.contact .container2 .formBox{
    width: 50%;
    padding: 50px;
}
.contact .container2 .formBox .head1{
    font-size: 40px;
    font-weight: 500;
}
.contact .container2 .formBox label{
    font-size: 18px;
    font-weight: 300;
}
.contact .container2 .formBox input,
.contact .container2 .formBox textarea{
    border:none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    outline: none;
    background: none;
    width: 420px;
    font-size: 20px;
}
.contact .container2 .formBox button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #222;
    border: none;
    color: #fff;
    margin-top: 30px;
}
.contact .container2 .formBox button span{
    margin-right: 10px;
}
.contact .container2 .formBox input:focus,
.contact .container2 .formBox textarea:focus{
    border-color: #000;
}
.contact .container2 .get-in-touch .head1{
    font-size: 40px;
    font-weight: 500;
}
.contact .container2 .get-in-touch p{
    font-size: 22px;
    
}
.contact .container2 .get-in-touch h1{
   font-size: 24px;
   font-weight: 500;
}
.contact .container2 .get-in-touch h2{
    font-size: 17px;
    font-weight: 400;
}
.contact .container2 .get-in-touch ul{
    display: flex;
    list-style: none;
}
.contact .container2 .get-in-touch ul a{
    font-size: 30px;
    color: #4c4d4d;
    margin-right: 20px;
}
footer{
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}
footer h1{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
footer span{
    color: #f5df4e;
} 

@media only screen and (max-width:768px){
    .home{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    .home .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home .imgBx{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about .about-main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .about-main .left{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about-main .right{
        width: 100%;
        margin-top: 20px;
    }
    .aboutMe{
        display: flex;
        flex-wrap: wrap;
    }
    .aboutMe div{
        width: 50%;
        margin: 10px 0;
    }
    .what-to-do{
        flex-wrap: wrap;
    }
    .container{
        grid-template-columns: auto;
    }
    .resume .main{
        flex-wrap: wrap;
    }
    .main .my-edu .my-edu-box{
        border: none;
        border-bottom: 2px solid #f5df4e;
    }
    .main hr{
        display: none;
    }
    .main .my-edu{
        width: 100%;
        text-align: center;
    }
    .main .my-exp{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .main .my-exp .my-exp-box{
        border: none;
    }
    .portfolio .img-container{
        grid-template-columns: auto auto;
    }

    .questioniare .faq {
        width: 100%;
    }
    .questioniare .img-box {
        display: none;
    }
    .contact .container2{
        flex-wrap: wrap;
    }
    .contact .container2 .get-in-touch{
        width: 100%;
    }
    .contact .container2 .formBox{
        width: 100%;
    }

    @media only screen and (max-width:500px){
        header{
            padding: 10px;
            justify-content: center;
        }
        .side a{
            font-size: 20px;
        }
        .side{
            margin: 0 10px;
        }

        .home .content h1{
            font-size: 30px;
        }
        .home .content h2{
            font-size: 50px;
        }
        .home .content h3{
            font-size: 20px;
        }
        .home .content{
            width: 100%;
        }
        .home .imgBx{
            height: 350px;
            width: 350px;
        }
        .about .about-main{
            padding: 10px;
        }
        .about-main .left h2{
            font-size: 25px;
        }
        .about-main .left p{
            font-size: 15px;
        }
        .aboutMe{
            padding: 10px;
        }
        .aboutMe div{
            width: 100%;
            text-align: center;
        }

        .what-to-do{
            padding: 20px;
        }
        .wtd-heading h1{
            font-size: 22px;
        }
        .container{
            padding: 10px;
        }
        .container-box h2{
            font-size: 25px;
        }
        .container-box p{
            font-size: 15px;
        }
        .resume{
            padding: 20px;
        }
        .resume-heading h1{
            font-size: 24px;
        }
        .resume .main{
            padding: 30px 20px;
        }
        .main .my-edu h1{
            font-size: 25px;
        }
        .main .my-exp h1{
            font-size: 25px;
        }
        .skills{
            padding: 10px;
        }
        .skills .skill-main{
            grid-template-columns: auto;
        }
        .portfolio{
            padding: 15px;
        }
        .pfolio-heading h1{
            font-size: 20px;
        }
        .portfolio .ul-box{
            width: 100%;
        }
        .portfolio .ul-box ul{
            flex-wrap: wrap;
            justify-content: center;
        }
        .portfolio .img-container{
            grid-template-columns: auto;
        }
        .portfolio .img-container .imgbox{
            height: 320px;
        }
        .hero h4{
            font-size: 25px;
        }
        .hero .img-mask{
            height: 45vh;
        }
        .hero::before{
            height: 45vh;
        }
        .questioniare{
            padding: 15px;
        }
        .questioniare .question-heading h1{
            font-size: 25px;
        }
        .question button{
            font-size: 15px;
        }
        .question p{
            font-size: 12px;
        }
        .contact .container2 .get-in-touch,
        .contact .container2 .formBox{
            padding: 15px;
        }
        .contact .container2 .get-in-touch .head1,
        .contact .container2 .formBox .head1{
            font-size: 25px;
        }
        .contact .container2 .get-in-touch p{
            font-size: 18px;
        }
        .contact .container2 .formBox input, 
        .contact .container2 .formBox textarea{
            width: 100%;
        }
        footer{
            flex-direction: column;
            text-align: center;
            padding: 20px;
        }
    }
    @media only screen and (max-width:500px){
        header .imgBx {
            height: 40px;
            width: 95px;
        }
        .side a{
            font-size: 16px;
        }
        .home{
            padding: 10px;
        }
        .home .imgBx{
            height: 300px;
            width: 300px;
        }
        .about-heading {
            text-align: center;
            margin-top: 20px;
        }
        .about-main .left h2{
            font-size: 20px;
        }
        .about-main .left p{
            font-size: 14px;
        }
        .about .right .circle{
            height: 80px;
            width: 80px;
        }
        .about .right .circle span{
            font-size: 125px;
        }
        .what-to-do{
            padding: 10px;
        }
        .wtd-heading h1{
            font-size: 18px;
            margin-top: 10px;
        }
        .container-box h2{
            font-size: 20px;
        }
        .container-box p{
            font-size: 13px;
        }
        .resume{
            padding: 10px;
        }
        .resume-heading h1{
            font-size: 20px;
            margin-top: 10px;
        }
        .resume .main{
            padding: 10px;
        }
        .main .my-edu h1,
        .main .my-exp h1{
            font-size: 22px;
        }
        .main .my-edu .my-edu-box h2,
        .main .my-exp .my-exp-box h2{
            font-size: 20px;
        }
        .main .my-edu .my-edu-box h3,
        .main .my-exp .my-exp-box h3{
            font-size: 14px;
        }
        .main .my-edu .my-edu-box p,
        .main .my-exp .my-exp-box p{
            font-size: 13px;
        }
        .skills h1{
            font-size: 24px;
        }
        .skills .skill-main .skill-box h3{
            font-size: 15px;
        }
        .skills .download-btn button{
            width: 150px;
            margin-top: 10px;
        }
        .portfolio{
            padding-top: 50px;
        }
        .pfolio-heading h1{
            font-size: 17px;
        }
        .portfolio .ul-box ul li{
            font-size: 12px;
        }
        .question button {
            font-size: 13px;
        }
        .hero h4{
            font-size: 18px;
            padding: 10px;
        }
        footer {
            flex-direction: column;
            text-align: center;
            padding: 10px;
        }
        footer h1{
            font-size: 10px;
        }
        .hero{
            height: 60vh;
        }
    }

    
}